*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
.button{
    height: 80px;
    width: 200px;
    border: none;
    color: white;
    box-shadow: 10px 10px 10px #534a4a;
    display: inline;
    text-align: center;
    background-color: rgb(64, 17, 17);
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.8s;
}
.button:hover{
    background-color: #323232;
}
.AB{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}